# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID={{ tomcat_working_dir }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_working_dir }}
Environment=CATALINA_BASE={{ tomcat_working_dir }}

ExecStart={{ tomcat_working_dir }}/bin/startup.sh
ExecStop={{ tomcat_working_dir }}/bin/shutdown.sh

User={{tomcat_user_name}}
Group={{tomcat_group_name}}
Restart=on-failure

[Install]
WantedBy=multi-user.target